{
  "mcpServers": {
    "Cloudflare-docs": {
      "url": "https://docs.mcp.cloudflare.com/mcp"
    },
    "Cloudflare-bindings": {
      "url": "https://bindings.mcp.cloudflare.com/mcp"
    },
    "Cloudflare-builds": {
      "url": "https://builds.mcp.cloudflare.com/mcp"
    },
    "exa": {
      "url": "https://mcp.exa.ai/mcp",
      "headers": {
        "x-api-key": "${env:EXA_API_KEY}"
      }
    },
    "Ref": {
      "type": "http",
      "url": "https://api.ref.tools/mcp",
      "headers": {
        "x-ref-api-key": "${env:REF_API_KEY}"
      }
    }
  }
}
